extends layout

block content
  div(class="jumbotron")
    p(id="timerDisplay") 00:00:00.00
    button(type="button" onclick ="startTimer()") Start
    button(type="button" onClick ="stopTimer()") End

block script
  script(src='/javascripts/timer.js')