doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/boostrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.min.css')
    link(rel='stylesheet', href='/stylesheets/boostrap.min.js')

  body
    block content
